.timer {
	border-style: dashed;
	border-color: red;
	color: red;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.center {
    position: absolute;
    left: 0;
    top: 20%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 48px;
}

.ttl {
	position: absolute;
    left: 0;
    top: 20%;
    width: 50%;
    margin-left: 25%;
    text-align: center;

	color: red;
	text-align: left;
	vertical-align: middle;
	line-height: 30px;
	font-size: 30px;
}

.bdy {
	position: absolute;
    left: 0;
    top: 20%;
    width: 50%;
    margin-left: 25%;
    text-align: center;

	color: red;
	text-align: left;
	vertical-align: middle;
	line-height: 30px;
	font-size: 15px;
}

a {
	color: red;
}


body {
	background-color: black;
}